services:
  mongodb:
    image: someshwarsangaraju/mongodb:v1
    container_name: mongodb
    build: ./mongodb
    volumes:
    - mongodb:/data/db
  catalogue:
    image: someshwarsangaraju/catalogue:v1
    container_name: catalogue
    build:
      context: ./catalogue
      dockerfile: Dockerfile
    depends_on: 
    - mongodb
  redis:
    image: redis:7
    container_name: redis
    volumes:
    - redis:/data
  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
    volumes:
    - rabbitmq:/var/lib/rabbitmq
  mysql:
    image: someshwarsangaraju/mysql:v1
    container_name: mysql
    build: ./mysql
    volumes:
    - mysql:/var/lib/mysql
  user:
    build: ./user
    image: someshwarsangaraju/user:v1
    container_name: user
    depends_on: 
    - mongodb
    - redis
  cart:
    build: ./cart
    image: someshwarsangaraju/cart:v1
    container_name: cart
    depends_on: 
    - redis
    - catalogue
  shipping:
    build: ./shipping
    image: someshwarsangaraju/shipping:v1
    container_name: shipping
    depends_on: 
    - mysql
    - cart
  payment:
    build: ./payment
    image: someshwarsangaraju/payment:v1
    container_name: payment
    depends_on: 
    - rabbitmq
    - user
    - cart
  frontend:
    build: ./frontend
    image: someshwarsangaraju/frontend:v1
    container_name: frontend
    ports:
    - "80:80"
    depends_on: 
    - user
    - cart
    - shipping
    - payment
    - catalogue
networks:
  default:
    driver: bridge
    name: roboshop
    external: false
volumes:
  mongodb:
  mysql:
  redis:
  rabbitmq:
