services:
  mongodb:
    image: mongodb:v1
    container_name: mongodb
    build: ./mongodb
    volumes:
    - mongodb:/data/db
  catalogue:
    image: catalogue:v1
    container_name: catalogue
    build:
      context: ./catalogue
      dockerfile: Dockerfile
    depends_on: 
    - mongodb
  redis:
    image: redis:7
    container_name: redis
    volumes:
    - redis:/data
  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
    volumes:
    - rabbitmq:/var/lib/rabbitmq
  mysql:
    image: mysql:v1
    container_name: mysql
    build: ./mysql
    volumes:
    - mysql:/var/lib/mysql
  user:
    image: user:v1
    container_name: user
    build: ./user
    depends_on: 
    - mongodb
    - redis
  cart:
    image: cart:v1
    container_name: cart
    build: ./cart
    depends_on: 
    - redis
    - catalogue
  shipping:
    image: shipping:v1
    container_name: shipping
    build: ./shipping
    depends_on: 
    - mysql
    - cart
  payment:
    image: payment:v1
    container_name: payment
    build: ./payment
    depends_on: 
    - rabbitmq
    - user
    - cart
  frontend:
    image: frontend:v1
    container_name: frontend
    build: ./frontend
    ports:
    - "80:80"
    depends_on: 
    - user
    - cart
    - shipping
    - payment
    - catalogue
networks:
  default:
    driver: bridge
    name: roboshop
    external: false
volumes:
  mongodb:
  mysql:
  redis:
  rabbitmq:


